{% extends "base.html" %}
{% block content %}
    <h1>Hello, {{ user.nickname }}!</h1>

   {% for post in posts %}
     <div>
       <p>{{ post.author.nickname }}
        says: <b>{{ post.body }}</b>
      </p>
    </div>
   {% endfor %}

   {% if user.nickname == 'Adil' %}
     <div>
       <img src="http://bit.ly/1Brje4z" alt="ugly-cat">
     </div>

   {% else %}
     {% for title, image in images.items() %}
       <div>
         <img src={{ image }}
              alt={{ title }}
              style="max-width: 30%;
              float: left;
              height:250px ">
       </div>

     {% endfor %}
  {% endif %}


{% endblock %}
